# Clase 27 junio 2023

## Ejercicio 9 quizz

Three-digit Armstrong numbers

Nº entre 100 y 999 tal que la suma del cubo de cada dígito es igual al propio número

In [2]:
# convirtiendo el nº dígito a dígito desde cadena
lista = []
for n in range(100,1000):
    s = 0
    for d in str(n):
        s += int(d)**3
    if s == n:
        lista.append(n)
print('Three-digit Armstrong numbers:', ' '.join(str(n) for n in lista))

Three-digit Armstrong numbers: 153 370 371 407

In [3]:
lista = []
for n in range(100,1000):
    s = (n % 10)**3 + ((n//10) % 10)**3 + (n//100)**3
    if s == n:
        lista.append(n)
print('Three-digit Armstrong numbers:', ' '.join(str(n) for n in lista))

Three-digit Armstrong numbers: 153 370 371 407

In [4]:
lista = []
for d1 in range(1,10):
    for d2 in range(10):
        for d3 in range(10):
            s = d1**3 + d2**3 + d3**3
            n = d1*100 + d2*10 + d3
            if s == n:
                lista.append(n)
print('Three-digit Armstrong numbers:', ' '.join(str(n) for n in lista))

Three-digit Armstrong numbers: 153 370 371 407

In [5]:
def notaCategorica(n):
    '''
    Recibe un valor numérico n entre 0 y 10
    Devuelve la nota en formato categórico
    '''
    if n<5:
        return 'suspenso'
    elif n<7:
        return 'aprobado'
    elif n<9:
        return 'notable'
    elif n<10:
        return 'sobresaliente'
    else:
        return 'MH'

In [6]:
notaCategorica(7.8)

'notable'

In [ ]:
def notaCategorica(n):
    '''
    Recibe un valor numérico n entre 0 y 10
    Devuelve la nota en formato categórico
    '''
    tipo = None # no haría falta
    if n<5:
        tipo = 'suspenso'
    elif n<7:
        tipo = 'aprobado'
    elif n<9:
        tipo = 'notable'
    elif n<10:
        tipo = 'sobresaliente'
    else:
        tipo = 'MH'
    return tipo

In [ ]:
def notaCategorica(n):
    '''
    Recibe un valor numérico n entre 0 y 10
    Devuelve la nota en formato categórico
    '''
    if n<5:
        return 'suspenso'
    if n<7:
        return 'aprobado'
    if n<9:
        return 'notable'
    if n<10:
        return 'sobresaliente'
    return 'MH'

In [7]:
def f(x):
    return x*2
    print("imposible llegar aquí")

In [8]:
f(2)

4

In [13]:
def g(x):
    print('x=',x)
    return

In [14]:
v = g(5)

x= 5

In [15]:
print(v)

None

### Variables locales

In [16]:
def print_sum(a,b):
    result = a+b
    print(f'{a} + {b} = {result}')

In [17]:
print_sum(3,5)

3 + 5 = 8

In [18]:
result

NameError: name 'result' is not defined

In [19]:
result = 2000

In [20]:
print_sum(5,3)

5 + 3 = 8

In [21]:
result

2000

### Argumentos variables, con valor por defecto, etc.

In [27]:
def f(a,b=1,c=4):
    print(a,b,c)

In [28]:
f(2,3)

2 3 4

In [29]:
f(2,3,7)

2 3 7

In [34]:
f(2,c=9) # 2 es un parámetro POSICIONAL, 9 es nombrado

2 1 9

In [35]:
f(c=9,b=12,a=100)

100 12 9

In [36]:
def g(a=5,b,c): # ERROR los parámetros con valor por defecto han de estar al final
    print(a,b,c)

SyntaxError: non-default argument follows default argument (3117473447.py, line 1)

In [40]:
def h(x,y,*z): # observad el "*" precediendo z
    print(x,y)
    print(type(z),len(z),z)

In [41]:
h(5,7)

5 7
<class 'tuple'> 0 ()

In [42]:
h(5,7,1,2,3)

5 7
<class 'tuple'> 3 (1, 2, 3)

In [45]:
def tnirp(*args):
    for i in range(len(args)-1,-1,-1):
        print(args[i],end=' ')
    print()

In [46]:
tnirp('uno','dos','tres')

tres dos uno

In [47]:
def f(x=2,y=3,*z): # hay parámetros posicionales con valor por defecto y luego *z
    print(x,y,z)

In [48]:
f()

2 3 ()

In [49]:
f(5)

5 3 ()

In [50]:
f(5,7)

5 7 ()

In [51]:
f(5,7,9)

5 7 (9,)

In [56]:
f(5,y=10,x=3)

TypeError: f() got multiple values for argument 'x'

In [59]:
def f(x,y):
    return x+y, x*y # devuelve una tupla aunque no escriba entre paréntesis

In [60]:
type(f(2,3))

tuple

In [61]:
f(2,3)

(5, 6)

In [65]:
# otros contextos donde python te permite usar tuplas sin paréntesis:
x,y = 1,2
x,y = y,x

for i,v in enumerate([10,20,30]):
    print(i,v)
    
d = {}
d[3,4] = 5
d

0 10
1 20
2 30

{(3, 4): 5}

## Paper code Q2 slide 53

In [73]:
def max2(x,y):
    if x > y:
        return x
    else:
        return y

In [74]:
def min2(x,y):
    return x if x<y else y # para recordar que python tiene expresión condicional

In [75]:
f'The larger of 100 or 200 is : {max2(100,200)}'

'The larger of 100 or 200 is : 200'

In [76]:
f'The smaller of 100 or 200 is : {min2(100,200)}'

'The smaller of 100 or 200 is : 100'

In [80]:
def mile2km(m):
    return 1.61*m

def mile2km(m): # con variable local
    km = 1.61*m
    return km

for m in range(1,5+1):
    km = mile2km(m) # la variable km no tiene que ver con la de arriba
    print(f'{m} mile = {km} kilometers')

1 mile = 1.61 kilometers
2 mile = 3.22 kilometers
3 mile = 4.83 kilometers
4 mile = 6.44 kilometers
5 mile = 8.05 kilometers

In [81]:
'...'.count('..') # cuenta nº subcadenas NO SOLAPADAS

1

In [82]:
ord('A')

65

In [83]:
chr(65)

'A'

In [84]:
'z' > 'Z'

True

In [86]:
ord('z'),ord('Z')

(122, 90)

In [87]:
ord('😜')

128540

In [88]:
chr(128540)

'😜'

In [89]:
"la casa".count('a')

3

In [90]:
['la','casa','la'].count('la')

2

In [91]:
['la','casa'].index('la')

0

In [92]:
'la casa'.find('casa')

3

In [95]:
a = 'casa'
a.upper() # las cadenas python son inmutables, devuelve una nueva

'CASA'

In [96]:
a

'casa'

In [97]:
'El Quijote'.istitle()

True

In [98]:
'El ingenioso hidalgo don Quijote'.istitle()

False

In [99]:
# slide 67

def print_sum():
    result = a + b
    print(result)
    
a = 10
b = 20
print_sum()

30

In [100]:
def print_sum2():
    a = 100
    b = 200
    result = a + b
    print(result)
    
a = 10
b = 20
print('a',a,'b',b)
print_sum2()
print('a',a,'b',b) # las variables globales no cambian con la ejecución anterior

a 10 b 20
300
a 10 b 20

In [104]:
def print_sum3():
    a = 100
    b = 200
    result = a + b
    print(result)
    

print_sum3()

UnboundLocalError: local variable 'a' referenced before assignment

In [106]:
lista = [1,2,3]

def f(x):
    x.clear()
    x.extend([4,5,6])

print(lista)
f(lista)
print(lista)

[1, 2, 3]
[4, 5, 6]

In [107]:
lista = [10,20,30]

def f(x):
    global lista
    lista = "ahora soy una cadena"
    
print(lista)
f(None)
print(lista)

[10, 20, 30]
ahora soy una cadena

In [110]:
# slide 74

GLOBAL_VALUE = 1024

def foo():
    a = GLOBAL_VALUE * 100
    print(a)

foo()

102400

In [111]:
def foo_malvado():
    global GLOBAL_VALUE
    GLOBAL_VALUE = 12345
    
foo_malvado()
print(GLOBAL_VALUE)

12345

In [112]:
"hola".upper() # método

'HOLA'

In [113]:
len("hola") # funcion

4

In [117]:
res = set()
id(res)

1776311201440

In [118]:
res = res | {(3,2)}
id(res)

1776309284064

In [137]:
def f():
    res = set()
    for i in range(40000):
        res = res | {i} # ESTO ES UNA BURRADA
    return res

In [138]:
%time cjt = f()

CPU times: total: 18.1 s
Wall time: 18.1 s

In [139]:
def f_ok():
    res = set()
    for i in range(1000_000):
        res.add(i)
    return res

In [140]:
%time cjt2 = f_ok()

CPU times: total: 109 ms
Wall time: 116 ms

In [141]:
fig = {'cuadrado', 'triangulo', 'circulo'}
color = {'rojo', 'verde', 'azul'}

def product_set(cjtA, cjtB):
    res = set()
    for x in cjtA:
        for y in cjtB:
            res.add( (x,y) )
    return res

product_set(fig, color)

{('circulo', 'azul'),
 ('circulo', 'rojo'),
 ('circulo', 'verde'),
 ('cuadrado', 'azul'),
 ('cuadrado', 'rojo'),
 ('cuadrado', 'verde'),
 ('triangulo', 'azul'),
 ('triangulo', 'rojo'),
 ('triangulo', 'verde')}

In [144]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [145]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [146]:
{ (f,c) for f in fig for c in color }

{('circulo', 'azul'),
 ('circulo', 'rojo'),
 ('circulo', 'verde'),
 ('cuadrado', 'azul'),
 ('cuadrado', 'rojo'),
 ('cuadrado', 'verde'),
 ('triangulo', 'azul'),
 ('triangulo', 'rojo'),
 ('triangulo', 'verde')}

In [ ]:
def product_set(cjt1, cjt2):
    return { (x,y) for x in cjt1 for y in cjt2 }

In [147]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [148]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## continuar sobre cómo es pasan parámetros a funciones

In [157]:
def imprimir(*args,sep=' ',end='\n'):
    print(args)
    print('separador',repr(sep),'finalizador',repr(end))

In [159]:
imprimir("uno",2,"tres", sep='-')
 # sep y end solamente son accesibles como keyword arguments

('uno', 2, 'tres')
separador '-' finalizador '\n'

In [163]:
dict(casa='blanca',coche='rojo')

{'casa': 'blanca', 'coche': 'rojo'}

In [166]:
def f(*x, **z):
    print(x,z)

In [167]:
f(1,2,3)

(1, 2, 3) {}

In [168]:
f(1,2,3,start=12,end=5)

(1, 2, 3) {'start': 12, 'end': 5}

In [169]:
def f(a,b,*x, start=5,end=4,**z):
    print(a,b,x,start,end,z)

In [170]:
f(1,2,3,4,5,start=200,step=5)

1 2 (3, 4, 5) 200 4 {'step': 5}

In [171]:
min(20,3,12)

3

In [172]:
min([1,2,3])

1

In [177]:
def minimo(*args):
    print(args)
    if len(args) == 1:
        args = args[0]
    elmenor = args[0]
    for i in range(1,len(args)):
        if args[i] < elmenor:
            elmenor = args[i]
    return elmenor

In [178]:
minimo(20,5,100,4,1000)

(20, 5, 100, 4, 1000)

4

In [179]:
minimo([20,5,100,4,1000])

([20, 5, 100, 4, 1000],)

4