# Ejercicios (14 junio 2023)

### Ejercicio 1

Haz un programa que pida el nombre y a continuación salude subrayando el nombre:

```
¿Cómo te llamas? María
Hola María
     *****
```

In [3]:
nombre = input('¿Cómo te llamas? ')
print('Hola',nombre)
print('    ','*' * len(nombre))

¿Cómo te llamas? María
Hola María
     *****

In [2]:
'*' * 10

'**********'

### Ejercicio 2

Haz un programa que pregunta la fecha de nacimiento de una persona y diga si será mayor de edad para votar el 23 de julio de 2023.

La fecha de nacimiento se dará en formato AAAA-MM-DD.

Ejemplos:

```
Indroduce la fecha de nacimiento AAAA-MM-DD: 2010-01-01
Demasiado joven para votar
```

```
Indroduce la fecha de nacimiento AAAA-MM-DD: 2005-06-30
Puede votar
```

Pistas:

- se puede utilizar `cadena.split(separador)`
- se puede crear una tupla con las cifras y al comparar tuplas se comparan en orden *lexicográfico*, ejemplos:

In [5]:
'2012-06-15'.split('-')

['2012', '06', '15']

In [12]:
(2,2,1) <= (2,2,3)

True

In [13]:
(2,2,1) <= (2,2,0)

False

In [14]:
(3,0,0) <= (2,10,10)

False

In [17]:
fecha = input('Indroduce la fecha de nacimiento AAAA-MM-DD: ')
fecha = fecha.split('-')
año = int(fecha[0])
mes = int(fecha[1])
dia = int(fecha[2])
fecha = (año, mes, dia)
if fecha <= (2005,7,23):
    print('Puede votar')
else:
    print('Demasiado joven para votar')

Indroduce la fecha de nacimiento AAAA-MM-DD: 2004-10-05
Puede votar

In [20]:
fecha = '2004-10-05'
fecha = fecha.split('-')
fecha

['2004', '10', '05']

In [22]:
año, mes, dia = fecha # unboxing

In [23]:
año, mes, dia

('2004', '10', '05')

### Ejercicio 3

Haz un programa que pida la hora de entrada en un parking (HH:MM) y la hora de salida (HH:MM) suponiendo que son en el mismo día. Debe calcular el número de minutos transcurridos y el precio a pagar sabiendo que:

- Si la hora de salida es anterior debe imprimir ERROR.
- Una estancia de menos de 30 minutos es gratuita.
- A partir de 30 minutos cuesta 0.50 la primera hora transcurrida y 0.02 el minuto lo que pase de esa hora.

In [39]:
entrada = input('Hora de entrada HH:MM? ')
salida = input('Hora de salida HH:MM? ')

h1,m1 = entrada.split(':')
h1,m1 = int(h1),int(m1)

h2,m2 = salida.split(':')
h2,m2 = int(h2),int(m2)

duracion = (h2-h1)*60 + m2 - m1
# duracion = (h2*60+m2) - (h1*60+m1) # otra forma
print('Duracion',duracion)
if duracion < 0:
    print("ERROR")
else:
    if duracion < 30:
        pvp = 0
    else:
        # alternativamente pvp = 0.50 + max(0,duracion-60)*0.02
        pvp = 0.50
        if duracion > 60:
            pvp += (duracion-60)*0.02
    print(f'Hay que pagar {pvp:.2f} euros')

Hora de entrada HH:MM? 10:50
Hora de salida HH:MM? 11:05
Duracion 15
Hay que pagar 0.00 euros

In [36]:
duracion

50

In [26]:
m1

'15'

In [27]:
tupla = (1,2,3)
lista = [1,2,3]

In [28]:
len(tupla)

3

In [29]:
len(lista)

3

In [32]:
tupla[0] = 5

TypeError: 'tuple' object does not support item assignment

In [33]:
lista[0] = 5

In [34]:
lista

[5, 2, 3]

### Ejercicio 4

Dado un precio en euros, imprimirlo separando euros y céntimos

In [65]:
cantidad = float(input('Cantidad: '))

euros = int(cantidad) # round(cantidad,0), también cantidad//1
centimos = int(round(100*(cantidad-euros),0))

txt = ''
if euros > 0:
    txt = str(euros) + ' euro'
    if euros != 1:
        txt = txt+'s'
    if centimos != 0:
        txt = txt + ' con '
if centimos != 0:
    txt = txt + str(centimos) + ' centimo'
    if centimos != 1:
        txt = txt + 's'
print(txt)

Cantidad: 0.02
2 centimos

In [55]:
cantidad = float(input('Cantidad: '))

euros = int(cantidad) # round(cantidad,0), también cantidad//1
centimos = int(round(100*(cantidad-euros),0))

txt = ''
if euros > 0:
    # expresion condicional
    # valor if condicion else otro_valor
    txt = (str(euros) + (' euro' if euros==1 else ' euros') +
          ' con ' if centimos!=0 else '')
if centimos != 0:
    txt = txt + str(centimos) + (' centimo' if centimos==1 else 'centimos')
print(txt)

15.1

In [56]:
15.1 - 15

0.09999999999999964

In [58]:
10.1 - 10

0.09999999999999964

In [46]:
int(cantidad)

15

In [49]:
cantidad // 1

15.0

## Random

In [68]:
import random

In [90]:
random.randint(1,4) # nº aleatorio entre 1 y 10 inclusive

4

In [92]:
random.randrange(3) # nº aleatorio entre 0 y 2 (3 no incluido)

0

In [ ]:
random.randrange(2,10) # nº aleatorio entre 2 y 9

In [93]:
random.choice(['cara','cruz'])

'cruz'

In [94]:
for x in ['uno','dos','tres']:
    print(x)

uno
dos
tres

Ejercicio:

- pedir al usuario una frase
- imprimir las palabras una debajo de la anterior

In [97]:
frase = input('Escribe una frase: ')
for palabra in frase.split():
    print(palabra)

Escribe una frase: esto es una prueba
esto
es
una
prueba

In [100]:
for letra in "hola":
    print(letra)

h
o
l
a

In [101]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [102]:
for i in range(5):
    print(i)

0
1
2
3
4

In [106]:
for i in range(1,11,-1):
    print(i)

In [108]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [114]:
n = 7
for i in range(0,11):
    print(f'{i:2} x {n} = {i*n:2}')
print('hola')

 0 x 7 =  0
 1 x 7 =  7
 2 x 7 = 14
 3 x 7 = 21
 4 x 7 = 28
 5 x 7 = 35
 6 x 7 = 42
 7 x 7 = 49
 8 x 7 = 56
 9 x 7 = 63
10 x 7 = 70
hola

### Ejercicio

Pedir al usuario una frase e imprimir una por línea las palabras de la frase

Pero ahora las palabras que terminen en vocal (aeiou) se imprimirán en mayúscula

In [120]:
frase = input('Escribe una frase: ')
for palabra in frase.split():
    if palabra[-1] in 'aeiou':
        palabra = palabra.upper()
    print(palabra)

Escribe una frase: esto es una prueba
ESTO
es
UNA
PRUEBA

In [116]:
palabra = "teléfono"

In [118]:
palabra[len(palabra)-1]

'o'

In [119]:
palabra[-1]

'o'

In [121]:
frase = input('Escribe una frase: ')
lista = frase.split()
indice = 0
for palabra in lista:
    if palabra[-1] in 'aeiou':
        palabra = palabra.upper()
    print(indice, palabra)
    indice = indice+1 # o también indice += 1

Escribe una frase: otras frases de prueba
0 otras
1 frases
2 DE
3 PRUEBA

In [ ]:
frase = input('Escribe una frase: ')
lista = frase.split()
for indice in range(len(lista)):
    palabra = lista[indice]
    if palabra[-1] in 'aeiou':
        palabra = palabra.upper()
    print(indice, palabra)

In [122]:
frase = input('Escribe una frase: ')
lista = frase.split()
for indice,palabra in enumerate(lista):
    if palabra[-1] in 'aeiou':
        palabra = palabra.upper()
    print(indice, palabra)

Escribe una frase: el gato está encima de la mesa
0 el
1 GATO
2 está
3 ENCIMA
4 DE
5 LA
6 MESA

In [135]:
primeros = ['Ensalada','Entremeses','Gazpacho','Paella']
segundos = ['Lubina','Ternera','Lasaña espinacas']
postres = ['Fruta','Flan']

for primero in primeros:
    for segundo in segundos:
        for postre in postres:
            print(primero,segundo,postre,sep=', ')
            
print('La sugerencia del Chef es:', end='')
print(random.choice(primeros),
      random.choice(segundos),
      random.choice(postres), sep=', ')

Ensalada, Lubina, Fruta
Ensalada, Lubina, Flan
Ensalada, Ternera, Fruta
Ensalada, Ternera, Flan
Ensalada, Lasaña espinacas, Fruta
Ensalada, Lasaña espinacas, Flan
Entremeses, Lubina, Fruta
Entremeses, Lubina, Flan
Entremeses, Ternera, Fruta
Entremeses, Ternera, Flan
Entremeses, Lasaña espinacas, Fruta
Entremeses, Lasaña espinacas, Flan
Gazpacho, Lubina, Fruta
Gazpacho, Lubina, Flan
Gazpacho, Ternera, Fruta
Gazpacho, Ternera, Flan
Gazpacho, Lasaña espinacas, Fruta
Gazpacho, Lasaña espinacas, Flan
Paella, Lubina, Fruta
Paella, Lubina, Flan
Paella, Ternera, Fruta
Paella, Ternera, Flan
Paella, Lasaña espinacas, Fruta
Paella, Lasaña espinacas, Flan
La sugerencia del Chef es:Entremeses, Lasaña espinacas, Fruta

In [145]:
primeros = [('Ensalada',200),
            ('Entremeses',800),
            ('Gazpacho',250),
            ('Paella',500)]
segundos = [('Lubina',350),
            ('Ternera',450),
            ('Lasaña espinacas',500)]
postres = [('Fruta',190),
           ('Flan',230)]

for primero,cal1 in primeros:
    for segundo,cal2 in segundos:
        for postre,cal3 in postres:
            calorias = cal1+cal2+cal3
            print(primero,segundo,postre,sep=', ',end=' ')
            print(f'({calorias} calorias)')

Ensalada, Lubina, Fruta (740 calorias)
Ensalada, Lubina, Flan (780 calorias)
Ensalada, Ternera, Fruta (840 calorias)
Ensalada, Ternera, Flan (880 calorias)
Ensalada, Lasaña espinacas, Fruta (890 calorias)
Ensalada, Lasaña espinacas, Flan (930 calorias)
Entremeses, Lubina, Fruta (1340 calorias)
Entremeses, Lubina, Flan (1380 calorias)
Entremeses, Ternera, Fruta (1440 calorias)
Entremeses, Ternera, Flan (1480 calorias)
Entremeses, Lasaña espinacas, Fruta (1490 calorias)
Entremeses, Lasaña espinacas, Flan (1530 calorias)
Gazpacho, Lubina, Fruta (790 calorias)
Gazpacho, Lubina, Flan (830 calorias)
Gazpacho, Ternera, Fruta (890 calorias)
Gazpacho, Ternera, Flan (930 calorias)
Gazpacho, Lasaña espinacas, Fruta (940 calorias)
Gazpacho, Lasaña espinacas, Flan (980 calorias)
Paella, Lubina, Fruta (1040 calorias)
Paella, Lubina, Flan (1080 calorias)
Paella, Ternera, Fruta (1140 calorias)
Paella, Ternera, Flan (1180 calorias)
Paella, Lasaña espinacas, Fruta (1190 calorias)
Paella, Lasaña espinacas, Flan (1230 calorias)

In [139]:
a = ('Entremeses',800)

In [140]:
a

('Entremeses', 800)

In [141]:
a,b = ('Entremeses',800)

In [149]:
lista = [1,2,3]

In [153]:
lista.append('hola')

In [154]:
lista

[1, 2, 3, 'hola', 'hola']

In [147]:
primeros = [('Ensalada',200),
            ('Entremeses',800),
            ('Gazpacho',250),
            ('Paella',500)]
segundos = [('Lubina',350),
            ('Ternera',450),
            ('Lasaña espinacas',500)]
postres = [('Fruta',190),
           ('Flan',230)]

combinaciones = []

for primero,cal1 in primeros:
    for segundo,cal2 in segundos:
        for postre,cal3 in postres:
            calorias = cal1+cal2+cal3
            plato = f'{primero}, {segundo}, {postre} ({calorias} calorias)'
            print(plato)
            combinaciones.append((calorias,plato))

Ensalada, Lubina, Fruta (740 calorias)
Ensalada, Lubina, Flan (780 calorias)
Ensalada, Ternera, Fruta (840 calorias)
Ensalada, Ternera, Flan (880 calorias)
Ensalada, Lasaña espinacas, Fruta (890 calorias)
Ensalada, Lasaña espinacas, Flan (930 calorias)
Entremeses, Lubina, Fruta (1340 calorias)
Entremeses, Lubina, Flan (1380 calorias)
Entremeses, Ternera, Fruta (1440 calorias)
Entremeses, Ternera, Flan (1480 calorias)
Entremeses, Lasaña espinacas, Fruta (1490 calorias)
Entremeses, Lasaña espinacas, Flan (1530 calorias)
Gazpacho, Lubina, Fruta (790 calorias)
Gazpacho, Lubina, Flan (830 calorias)
Gazpacho, Ternera, Fruta (890 calorias)
Gazpacho, Ternera, Flan (930 calorias)
Gazpacho, Lasaña espinacas, Fruta (940 calorias)
Gazpacho, Lasaña espinacas, Flan (980 calorias)
Paella, Lubina, Fruta (1040 calorias)
Paella, Lubina, Flan (1080 calorias)
Paella, Ternera, Fruta (1140 calorias)
Paella, Ternera, Flan (1180 calorias)
Paella, Lasaña espinacas, Fruta (1190 calorias)
Paella, Lasaña espinacas, Flan (1230 calorias)

In [156]:
for calorias,plato in sorted(combinaciones):
    print(plato)

Ensalada, Lubina, Fruta (740 calorias)
Ensalada, Lubina, Flan (780 calorias)
Gazpacho, Lubina, Fruta (790 calorias)
Gazpacho, Lubina, Flan (830 calorias)
Ensalada, Ternera, Fruta (840 calorias)
Ensalada, Ternera, Flan (880 calorias)
Ensalada, Lasaña espinacas, Fruta (890 calorias)
Gazpacho, Ternera, Fruta (890 calorias)
Ensalada, Lasaña espinacas, Flan (930 calorias)
Gazpacho, Ternera, Flan (930 calorias)
Gazpacho, Lasaña espinacas, Fruta (940 calorias)
Gazpacho, Lasaña espinacas, Flan (980 calorias)
Paella, Lubina, Fruta (1040 calorias)
Paella, Lubina, Flan (1080 calorias)
Paella, Ternera, Fruta (1140 calorias)
Paella, Ternera, Flan (1180 calorias)
Paella, Lasaña espinacas, Fruta (1190 calorias)
Paella, Lasaña espinacas, Flan (1230 calorias)
Entremeses, Lubina, Fruta (1340 calorias)
Entremeses, Lubina, Flan (1380 calorias)
Entremeses, Ternera, Fruta (1440 calorias)
Entremeses, Ternera, Flan (1480 calorias)
Entremeses, Lasaña espinacas, Fruta (1490 calorias)
Entremeses, Lasaña espinacas, Flan (1530 calorias)

## Sumatorio

Calcular $\sum_{i=1}^{10} i^3$

In [157]:
s = 0 # donde voy a acumular la suma
for i in range(1,11):
    s = s + i**3 # s += i**3
print(s)

3025

## Título

- uno *cursiva*
- dos **negrita**
- tres $\sqrt{x^3}$

In [204]:
lista_compra = """10 tomate
5 atún
12 aceite
5 arroz"""

In [205]:
print(lista_compra)

10 tomate
5 atún
12 aceite
5 arroz

In [206]:
precios = {'tomate':0.60, 'atún':1.20, 'arroz':1.1}

In [207]:
len(precios)

3

In [208]:
precios

{'tomate': 0.6, 'atún': 1.2, 'arroz': 1.1}

In [209]:
precios['tomate']

0.6

In [210]:
'arroz' in precios

True

In [211]:
'vinagre' in precios

False

In [212]:
lista_compra.split('\n')

['10 tomate', '5 atún', '12 aceite', '5 arroz']

In [215]:
lista_compra

'10 tomate\n5 atún\n12 aceite\n5 arroz'

In [225]:
pvp_total = 0
for item in lista_compra.split('\n'):
    unidades,producto = item.split()
    unidades = int(unidades)
    if producto in precios:
        pvp_total += unidades * precios[producto]
    else:
        print('El producto',producto,'está descatalogado')
print('El ticket sube a',pvp_total,'euros')

El producto aceite está descatalogado
El ticket sube a 17.5 euros

# funciones

In [230]:
def nombrefuncion():
    print("hola soy una función")
    return 5
    print("esto no se ejecuta")

In [235]:
a = nombrefuncion() + nombrefuncion()
print(a)

hola soy una función
hola soy una función
10

In [244]:
def es_bisiesto(año):
    return (año % 4 == 0 and año % 100 != 0) or (año % 400 == 0)

def dias_mes(año, mes):
    dias = {1:31, 3:31, 4:30, 5:31, 6:30,
            7:31, 8:31, 9:30, 10:31, 11:30, 12:31}
    if mes == 2:
        if es_bisiesto(año):
            return 29
        else:
            return 28
    else:
        return dias[mes]

In [245]:
def pedir_fecha():
    fechaOK = False
    while not fechaOK:
        fecha = input('Introduce una fecha formato AAAA-MM-DD: ')
        año, mes, dia = fecha.split('-')
        año, mes, dia = int(año), int(mes), int(dia)
        fechaOK = ((1920 <= año <= 2023) and
                  (1 <= mes <= 12) and
                  (1 <= dia <= dias_mes(año,mes)))
        if not fechaOK:
            print("Fecha incorrecta, la volvemos a pedir")
    return (año,mes,dia)

In [247]:
pedir_fecha()

Introduce una fecha formato AAAA-MM-DD: 2023-06-14

(2023, 6, 14)